{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
  <div itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name">{{ post.title }}</h1>
    <p class="date">
      written on <span itemprop="datePublished" content="{{ post.pub_date.strftime('%Y-%m-%d') }}">{{ post.pub_date.strftime("%b %d, %Y") }}</span> by <span itemprop="author">{{ config['AUTHOR_NAME'] }}</span>
    </p>

    <div style="display: none;" itemprop="articleSection">
      {% if post.summary != post.body %}
      {{ post.summary|striptags() }}
      {% else %}
      {{ post.body|truncate()|striptags() }}
      {% endif %}
    </div>

    <div class="blog_post" itemprop="articleBody">
      {{ post.body }}
    </div>

    {% if tags %}
    {{ tags(post) }}
    {% endif %}
  </div>

  <ul class="pager">
    {% if prev %}
    <li class="previous">
      <a href="{{ prev.url }}">&lt;&lt; {{ prev.title|truncate(50,end='...') }}</a>
    </li>
    {% endif %}
    {% if next %}
    <li class="next">
      <a href="{{ next.url }}">{{ next.title|truncate(50,end='...') }} &gt;&gt;</a>
    </li>
    {% endif %}
  </ul>

  {% if comments %}
  {{ comments(post) }}
  {% endif %}
{% endblock %}